.shooter
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #444444, #000000);
    font-family: Helvetica, Arial;
    overflow: hidden;
}
.shooter .start
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-transform: uppercase;
   opacity: 0.4;
   color: #fff;
   font-size: 45px;
   cursor: pointer;
}
.shooter .score .value
{
   font-size: 100px;
}
.shooter .score .unit
{
   font-size: 25px;
   text-transform: uppercase;
}
.shooter .timer
{
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-transform: uppercase;
   opacity: 0.4;
   color: #fff;
   font-size: 20px;
   cursor: pointer;
}
.shooter .targets
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.shooter .targets .target
{
   position: absolute;
   top: 25%;
   left: 25%;
   width: 12vmin;
   height: 12vmin;
   background-color: #fff;
   border-radius: 50%;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 1)
}

.shooter .targets .target::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% / 3 * 2);
    height: calc(100% / 3 * 2);
    background:  repeating-linear-gradient(red, yellow 10%, green 20%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.shooter .targets .target::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% / 3);
    height: calc(100% / 3);
    background: repeating-linear-gradient(#cccccc,#0d0d0d 10%,#cc0099 20%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}